#gallery {
    display: grid;
    grid-template-columns: 300px repeat(auto-fill, 300px);
    grid-gap: 20px

}

.users {
    border: black solid 2px;

}

.block {
    margin: 10px;
    max-width: 300px;
}

.postList {
    border: darkolivegreen solid 2px;

}

.postBody, .commentBody {
    text-indent: 20px
}

.userName span, .phone span, .email span, .webSite span, .company span, .address span {
    font-weight: bold;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid #007bff;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    color: #fff;
    background-color: #007bff;
    margin: 0 10px 0 10px;
}
.btn.disable {
    background-color: grey;
    border: 1px solid grey;
}

.btnGroup {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}